.custom-button {
    background-color: #d1d4e1 !important; /* Custom background color */
    color: #0f1e60 !important;            /* Text color */
    border: none !important;                 /* No border */
    padding: 6px 20px !important;         /* Padding inside the button */
    border-radius: 6px !important;        /* Rounded corners */
  }

  .custom-button-disabled {
    background-color: #D2D4E3 !important;
    color: #7D7D7D !important;  
    border-radius: 8px;
    height: 45px;
    border: none;
  }
  .twoFaTitle {
    font-size: 32px;
    line-height: 28px;
  }
  .twoText {
    font-size: 12px;
  }
  .twoLebalText {
    font-size: 14px;
    color: #333333;
  }
  .timerText {
    font-size: 12px;
  }
.titleContainer {
  position: relative;
}
 .titleCloseIcon {
  position: absolute;
  right: -8px;
  bottom: 16px;
 } 

 .radio-group {
display: flex;
margin-top: 8px;
 }
 .radio_lable {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  gap: 8px;
  margin-right: 12px;
  line-height: 13px;
  /* background-color: #d9defc; */
}

.radio-buttons {
  display: flex;
  height: 100%;
  align-items: center;
}
 .radio_button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #7d7d7d;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: white;
}

.radio_button:checked {
  border-color: #596ac5;
}
.radio_button:checked::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #596ac5;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}