.custom-button {
    background-color: #d1d4e1 !important; /* Custom background color */
    color: #0f1e60 !important;            /* Text color */
    border: none !important;                 /* No border */
    padding: 6px 20px !important;         /* Padding inside the button */
    border-radius: 6px !important;        /* Rounded corners */
  }

  .custom-button-disabled {
    background-color: #D2D4E3 !important;
    color: #7D7D7D !important;  
    border-radius: 8px;
    height: 45px;
    border: none;
  }
  .twoFaTitle {
    font-size: 32px;
    line-height: 28px;
  }
  .twoText {
    font-size: 12px;
  }
  .twoLebalText {
    font-size: 14px;
    color: #333333;
  }
  .timerText {
    font-size: 12px;
  }
.titleContainer {
  position: relative;
}
 .titleCloseIcon {
  position: absolute;
  right: -8px;
  bottom: 16px;
 } 