/* Main container layout */
.layout-container {
  display: flex;
  height: 100vh;
  overflow: hidden; /* Prevents layout overflow */
}

/* Sidebar styles */
.sidebar-custom {
  width: 250px; /* Default sidebar width */
  background-color: #1C2971;
  height: 100vh;
  overflow-y: auto; /* Enable scrolling */
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.25s ease-out;
  z-index: 1040;
}

.sidebar-custom.collapsed {
  width: 0;
  overflow: hidden;
}

.sidebar-custom.visible {
  width: 250px;
}

/* Main content area */
.main-content {
  flex-grow: 1; /* Takes the rest of the space */
  margin-left: 250px; /* Offset for the visible sidebar */
  padding: 1rem;
  transition: margin-left 0.25s ease-out;
  background-color: #f8f9fa; /* Light background */
}

.main-content.collapsed {
  margin-left: 0; /* Remove offset when sidebar is collapsed */
}

/* Sidebar Toggle Button */
.toggle-sidebar {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1050;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .sidebar-custom {
    width: 100%; /* Full width on small screens */
    height: auto;
    position: absolute;
  }

  .sidebar-custom.collapsed {
    margin-left: -100%;
  }

  .main-content {
    margin-left: 0; /* No offset on smaller screens */
  }
}

/* Sidebar logo */
.nav-logo {
  width: 200px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .nav-logo {
    width: 150px;
  }
}

@media (max-width: 576px) {
  .nav-logo {
    width: 100px;
  }
}

.nav-item {
  padding-left: 10px;
}

.nav-item.selected {
  background-color: #596AC5; /* Highlight color */
  border-radius: 8px; /* Optional for rounded corners */
  height: 50px;
}

.nav-item.selected .nav-link {
  font-weight: bold;
}

