.titleContainer {
    position: relative;
  }

  .twoFaTitle {
    font-size: 32px;
    line-height: 28px;
  }

  .titleCloseIcon {
    position: absolute;
    right: -8px;
    bottom: 16px;
   } 

   .twoText {
    font-size: 12px;
  }