/* .login-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/images/FusionBg.png') no-repeat center center/cover;
  } */

.login-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../assets/images/FusionBg.png") no-repeat center center/cover;
  background-size: cover;
  overflow: hidden;
  min-height: 100vh; /* Ensures the container always covers the full height */
}
 
.login-logo {
  max-width: 80%; /* Limit the size of the logo */
  height: auto;
  display: block;
  margin-bottom: 20px; /* For mobile spacing */
}
 
@media (max-width: 767px) {
  .login-logo {
    max-width: 60%; /* Make the logo smaller on small screens */
  }
}

.login-form-container {
  width: 100%;
  padding: 24px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
 
.login-form {
  width: 100%;
}
 
.form-control {
  border: 1px solid #ccc !important;
  border-radius: 8px !important;
  padding: 12px !important;
  box-shadow: none !important;
  font-size: 16px !important;
}
 
.form-control::placeholder {
  color: #b0b0b0 !important;
  opacity: 1 !important;
}
 
.form-control:focus {
  outline: none !important;
  border-color: #999 !important;
  box-shadow: none !important;
}
 
.is-invalid {
  border-color: #dc3545;
}
 
.is-invalid:focus {
  border-color: #dc3545;
  box-shadow: none;
}
 
label {
  font-weight: 400 !important;
  font-size: 12px;
}
.fieldTextSize {
  font-size: 12px !important;
}
.btn-primary {
  background-color: #1C2971 !important;
  border-color: #1C2971 !important;
  border-radius: 8px;
  height: 45px;
}
 
.signup-link {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.forgotPasswordButton {
  cursor: pointer;
}

.signupLinkText {
  font-size: 14px;
}